<div class="portfolio">

    <div id="portfolio-header page-header">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="full-name">
                    {{portfolio.Profile.firstName}} {{portfolio.Profile.lastName}}

                    <small class="sub-title">
                        <span>{{portfolio.Profile.title}}</span>
                        <span ng-show="portfolio.Profile.location && portfolio.Profile.title"> - </span>
                        <span>{{portfolio.Profile.location}}</span>
                    </small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <p>
                    <em>{{portfolio.Profile.statement}}</em>
                </p>
            </div>
            <div class="col-sm-3 text-right">
                <div class="btn-group-xs">
                    <label class="btn btn-info" ng-model="displayChoice" btn-radio="'portfolio'">Portfolio</label>
                    <label class="btn btn-info" ng-model="displayChoice" btn-radio="'both'">Both</label>
                    <label class="btn btn-info" ng-model="displayChoice" btn-radio="'resume'">Resume</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="contact-info" class="contact-list col-sm-10">
                <contact-list contacts="portfolio.Contact" heading="Contact {{portfolio.Profile.firstName}}"></contact-list>
            </div>
        </div>
    </div>

    <div id="portfolio-body" class="top-buffer">

        <div class="portfolio-projects" ng-show="displayChoice == 'portfolio' || displayChoice == 'both'">
            <section id="projects">
                <h2>
                    Projects
                    <button class="btn btn-xs" ng-click="projectsCollapsed = !projectsCollapsed">{{projectsCollapsed ? 'Show' : 'Hide'}}</button>
                </h2>
<!--
                <div collapse="projectsCollapsed">
                    <project-block ng-repeat="project in portfolio.Project | orderBy:'-seq'" project="project"></project-block>
                </div>
-->
            </section>
        </div>

        <div class="portfolio-resume" ng-show="displayChoice == 'resume' || displayChoice == 'both'">
            <section id="skills">
                <h2>
                    Skills & Accomplishments
                    <button class="btn btn-xs" ng-click="skillsCollapsed = !skillsCollapsed">{{skillsCollapsed ? 'Show' : 'Hide'}}</button>
                </h2>

                <div collapse="skillsCollapsed">
                    <div ng-class="{row:true, 'top-buffer':!$first}" ng-repeat="category in portfolio.Skill | uniqueByProperty:'category' | filter:'!accomplishments'">
                        <div class="col-sm-10">
                            <h5>{{category}}</h5>
                            <span ng-repeat="skill in portfolio.Skill | filter: {category: category} | orderBy:'seq'">
                                <span>{{skill.name}}<span ng-if="!$last">,</span>
                                </span>
                            </span>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-10">
                            <h5>Notable Accomplishments</h5>

                            <ul>
                                <li ng-repeat="skill in portfolio.Skill | filter: {category:'accomplishments'} | orderBy:'seq'">
                                    <span>{{skill.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section id="education">
                <h2>
                    Education
                    <button class="btn btn-xs" ng-click="educationCollapsed = !educationCollapsed">{{educationCollapsed ? 'Show' : 'Hide'}}</button>
                </h2>

                <div collapse="educationCollapsed">
                    <div ng-class="{row: true, 'top-buffer': !$first}" ng-repeat="edu in portfolio.Education | dateToTime:'startDate' | dateToTime:'endDate' | orderBy:['-startDateTime','-endDateTime']">
                        <div class="col-sm-10">
                            <h4>{{edu.institutionName}} <small>{{edu.location}}</small></h4>
                            <span>{{edu.degree}}</span>
                            <span ng-show="edu.gpa">- GPA: {{edu.gpa}}</span>
                            <span ng-show="edu.honors">- <em>Honors: {{edu.honors}}</em></span>
                        </div>
                        <div class="col-sm-2">
                            <span>{{edu.startDate | dateToDate | date: 'MMM y'}} - {{(edu.endDate || 'current') | dateToDate | date: 'MMM y'}}</span>
                        </div>
                    </div>
                </div>
            </section>

            <section id="work">
                <h2>
                    Experience
                    <button class="btn btn-xs" ng-click="workCollapsed = !workCollapsed">{{workCollapsed ? 'Show' : 'Hide'}}</button>
                </h2>

                <div collapse="workCollapsed">
                    <div class="row" ng-repeat="work in portfolio.Work | dateToTime:'startDate' | dateToTime:'endDate' | orderBy:['-startDateTime', '-endDateTime']">
                        <div class="col-sm-10">
                            <h4>{{work.companyName}} <small>{{work.location}}</small></h4>
                            <em>{{work.title}}</em>

                            <ul>
                                <li ng-repeat="task in work.Task | orderBy:'seq'">{{task.description}}</li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <span>{{work.startDate | dateToDate | date: 'MMM y'}} - {{(work.endDate || 'current') | dateToDate | date: 'MMM y'}}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
