<div class="portfolio">

    <div id="portfolio-header page-header">
        <h1 class="full-name">
            {{portfolio.Profile.firstName}} {{portfolio.Profile.lastName}}

            <small class="sub-title">
                <span>{{portfolio.Profile.title}}</span>
                <span ng-show="portfolio.Profile.location && portfolio.Profile.title"> - </span>
                <span>{{portfolio.Profile.location}}</span>
            </small>
        </h1>



        <div class="statement" ng-show="portfolio.Profile.statement!=''">
            <em>{{portfolio.Profile.statement}}</em>
        </div>

        <section id="contact-info">
            <h3>Contact Information</h3>

            <ul>
                <li ng-repeat="contact in portfolio.Contact | orderBy:'type'">
                    <span>{{contact.type}}</span><span ng-show="contact.subType"> ({{contact.subType}})</span><span>: </span>
                    <span>
                        <a href="{{contact | contactUrl}}">{{contact.contact}}</a>
                    </span>
                </li>
            </ul>
        </section>
    </div>

    <div class="portfolio-body">

        <div class="portfolio-projects">
            <section id="projects">
                <h2>Projects</h2>

                <ul>
                    <li ng-repeat="project in portfolio.Project | orderBy:'-seq'">
                        <h4>{{project.name}}</h4>
                        <p>{{project.description}}</p>
                    </li>
                </ul>
            </section>
        </div>

        <div class="portfolio-resume">
            <section id="skills">
                <h2>Skills & Accomplishments</h2>

                <ul>
                    <li ng-repeat="category in portfolio.Skill | uniqueByProperty:'category' | filter:'!accomplishments'">
                        <strong>{{category}}:</strong>
                <span ng-repeat="skill in portfolio.Skill | filter: {category: category} | orderBy:'seq'">
                    <span>{{skill.name}}<span ng-if="!$last">,</span>
                    </span>
                </span>
                    </li>
                </ul>

                <ul>
                    <li ng-repeat="skill in portfolio.Skill | filter: {category:'accomplishments'} | orderBy:'seq'">
                        <span>{{skill.name}}</span>
                    </li>
                </ul>
            </section>

            <section id="education">
                <h2>Education</h2>

                <ul>
                    <li ng-repeat="edu in portfolio.Education | dateToTime:'startDate' | dateToTime:'endDate' | orderBy:['-startDateTime','-endDateTime']">
                        <span class="pull-right">{{edu.startDate | dateToDate | date: 'MMM y'}} - {{(edu.endDate || 'current') | dateToDate | date: 'MMM y'}}</span>
                        <h4>{{edu.institutionName}} <small>{{edu.location}}</small></h4>
                        <span>{{edu.degree}}</span>
                        <span ng-show="edu.gpa">- GPA: {{edu.gpa}}</span>
                        <span ng-show="edu.honors">- <em>Honors: {{edu.honors}}</em></span>
                    </li>
                </ul>
            </section>

            <section id="work">
                <h2>Experience</h2>

                <ul>
                    <li ng-repeat="work in portfolio.Work | dateToTime:'startDate' | dateToTime:'endDate' | orderBy:['-startDateTime', '-endDateTime']">
                        <span class="pull-right">{{work.startDate | dateToDate | date: 'MMM y'}} - {{(work.endDate || 'current') | dateToDate | date: 'MMM y'}}</span>
                        <h4>{{work.companyName}} <small>{{work.location}}</small></h4>
                        <em>{{work.title}}</em>
                    </li>
                </ul>
            </section>
        </div>

    </div>
</div>
