<div>
    <div class="row">
        <div class="col-sm-12">
            <div collapse="projectCollapsed" class="project-image text-center pull-right" ng-show="getImage()">
                <img ng-src="{{getImage().url}}" alt="{{getImage().description}}" class="img-thumbnail"/><br/>
                <span class="project-image-caption"><em><small>{{getImage().description}}</small></em></span>
            </div>

            <h4>
                <span ng-click="projectCollapsed = !projectCollapsed" ng-class="{'project-collapse':true, glyphicon:true, 'glyphicon-chevron-down':!projectCollapsed, 'glyphicon-chevron-right':projectCollapsed}" ng-show="project.description.length > 0"></span>
                {{project.name}}
                <small ng-if="project.active == 1">
                    <span class="label label-success">Active</span>
                </small>
            </h4>

            <p>
                <em>{{project.blurb}}</em> <small ng-show="project.description.length > 0"> <a ng-click="projectCollapsed = !projectCollapsed"> {{projectCollapsed ? 'more' : 'less'}}</a></small>
            </p>

            <div collapse="projectCollapsed">
                <p ng-bind-html="project.description"></p>

                <div>
                    <!-- examples go here -->
                </div>
            </div>

            <p class="skill-tags">
                <span ng-repeat="skill in project.Skill track by $index" class="skill-label label label-primary">{{skill.name}}</span>
            </p>
        </div>
    </div>
</div>